*{
    margin: 0;
    font-family:'Open Sans', sans-serif;
    width:100%;
} 


body{
    background-color:#6C63FF;
}

.list{
    margin:1rem auto;
    heigth:auto;
    width:50%;
}

.cardlist {
    heigth:auto;
    padding:1rem;
    width:auto;
    background-color: white;
    border:none;
    border-radius:8px;
}


ul {
    list-style:none;
}
