@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Open+Sans:wght@500&family=Updock&display=swap');

*{
    margin: 0;
    font-family:'Open Sans', sans-serif;
    width:100%;
    justify-content:center;
    align-itens:center;
} 

.container{
    display:flex;
    margin: 10% auto 0;
    width:70%;
    height:30%;
    border: 1px solid black;
    border-radius: 12px;
}

.write {
    border-right: 1px solid black;
    justify-content:center;
}

.write img{
    margin-top:10%;
}

.read {
    display:flex;
    justify-content:center;
    text-align:center;
}

.read img {
    margin-top:10%;
}

